// colors
$main-bg: #f2f8f9;
$text-color: #8f8f8f;
$btn-bg: #300c63;
$heading-color: #110324;
// Family
$family: 'Nunito', sans-serif;

// breakpoint
$large: '(min-width: 922px)';
$small: '(min-width: 768px) and (max-width: 921px)';
$mobile: '(max-width: 767px)';